<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de Resultado del Partido</title>
    <link rel="stylesheet" href="..\static\informe_logistica.css">
</head>
<body>
    <h1>Predicción de Resultado</h1>

   
    <form action="/predecir" method="POST">
        <label for="posicion">Posición del balón (%):</label><br>
        <input type="number" step="0.1" name="posicion" required><br><br>

        <label for="tiros">Tiros al arco:</label><br>
        <input type="number" name="tiros" required><br><br>

        <label for="tiempo">Tiempo de juego (minutos):</label><br>
        <input type="number" name="tiempo" required><br><br>

        <input type="submit" value="Predecir">
    </form>

   
    {% if resultado %}
        <h2>Resultado: {{ resultado }}</h2>
    {% endif %}

</body>
</html>
