/* Código css de la página */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e1f5fe;  
}

header {
    background-color: #0288d1;  
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Verdana', sans-serif;
}

section {
    margin: 0 10%;
    padding: 30px;
    background-color: #ffffff;  
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  
    border-radius: 5px;
    line-height: 1.6;
}

h2, h3 {
    color: black; 
    font-family: 'Verdana', sans-serif;
}

h3 {
    font-style: italic;  
}

ul {
    list-style-type: square;  
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #555;
}

a {
    color: #0288d1;  
    text-decoration: none;
}

@media (max-width: 768px) {
    section {
        margin: 0 5%;
    }
}